<body class="text-center">    
  <main class="form-signin" style="width: 50%; margin-left: 25%;">
    <form action="/register" method="post" >
      <h1 class="h3 mb-3 fw-normal">Please Register</h1>
      <div class="form-floating">
          <select name="role">
            <label for="floatingInput">Role</label>
            <option selected value="client" >Client</option>
            <option value="admin">admin</option>
          </select>
        </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="name" name="name">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="phone" name="phone">
        <label for="floatingInput">Phone No</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      </form>
      <a href="/login" >Already A User? Login</a>
  </main>
</body>