<style>
body {
  color: #222222;
  font-size: 1em;
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
}

.introduction > p, 
.location > p,
.content-footer > p {
  font-weight: 500;
  letter-spacing: 0.05em;
}


.questions > h2 {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
}

/* -------------------------
      Link Styles
   -------------------------*/

a {
  font-weight: bold;
  text-decoration: none;
  /*color: #a1a1a1;*/
  color: #F1F1F1;
}

a:visited {
  color: #F1F1F1;
}

/* -------------------------
      Global Styles
   -------------------------*/

.starcontainer h2 {
  font-size: 2.8em;
  margin-bottom: 0.2em;
}

.starcontainerportfolio > h2 {
  text-align: center;
  font-size: 2.8em;
  margin-bottom: 0.2em;
}

.fa-star {
  margin-bottom: 0 auto;
}

hr {
  border: 2px solid #a1a1a1;
  width: 15.7em;
  margin-top: -1em;
  margin-bottom: 2em; 
  background-color: white;
}

hr, .fa-star {
  background-color: #fff;
  padding: 0 .25em
}

.starcontainer .fa {
  color: #a1a1a1;
}

.starcontainerportfolio .fa {
  color: #a1a1a1;
  display: inline-block;
}

/* -------------------------
      Layout Declarations
   -------------------------*/

.masthead-heading, 
.masthead-intro,
.content-footer,
.starcontainer,
.starcontainerportfolio {
  text-align: center;
}

.masthead {
  background-image: url("https://unsplash.imgix.net/5/night-city.jpg?q=75&fm=jpg&s=17d530aa2cd2080b1aba21843cc5f433");
  background-repeat: no-repeat;
  border-top: solid 1em #a1a1a1;
  border-bottom: solid 1em #a1a1a1;
  background-size: cover;
  padding: 6em 0;
}

.masthead > img {
  max-height: 6em;
  border-radius: 150%;
  display: block;
  margin: 0 auto;
  border: 4px solid #a1a1a1;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
}

.masthead-heading {
  margin-top: -0.2em;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.content-footer,
.introduction, 
.location, 
.questions {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.questions {
  padding-bottom: 1.5em;
}

/* -------------------------
    Portfolio
   -------------------------*/

li {
    list-style: none;
   }

#container {
  background-color: grey;
  position: relative;
  width: 100%;
  overflow: hidden;
    
}
.box {
  float:left;
  width:31%;
  margin:1% 1% 93px 1%;
}

.box img {
  width: 100%;
  display: block;
  border-style: solid;
  border-width:1.5px;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

.btn {
  background-color: #a1a1a1;
  border-color: #a1a1a1;
  border-style: none;
  border-radius: 0.3em;
  font-size: 1em;
  text-shadow: none;
  height: 3.3em;
  width: 9.6em;
  margin-left: 30%;
  margin-top: 5%;
}

.btn:hover {
  background-color: #282828;
}

/* -------------------------
        Footer
   -------------------------*/
.social {
  padding: 0;
  list-style: none;
}

section > h1 {
  margin-top: 2em;
}

.social > li {
  display: inline-block;
  padding-right: 1em; 
}

.content-footer > p {
  color: white;
}

.content-footer > a {
  margin-right: 0.1em;
}

.content-footer {
  background-color: #282828;
  max-width: 100%;
  padding: 4em 0;
}

/* -------------------------
        Media query
   -------------------------*/

@media only screen and (max-width: 500px) {
    .box:nth-child(1n+2) {
      border-top: 3px solid #a1a1a1;
      padding-top: 3em;
    }
    .box {
     display: block;
     width: 75%;
     padding-left: 2em;
     padding-top: 0;
   }
   .content-footer {
    font-size: 0.8em;
  }
  .masthead {
    padding: 3em 0; 
  }
  .masthead-heading {
    font-size: 3em;
  }
}
.links{
  display: flex;
  justify-content: space-around;
}
.links > a{
  color : black;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id = "navbar" style="margin-top: 0px">
  <a class="navbar-brand" href="/">PetCare</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <% if (user.role != "admin"){%>
        <li class="nav-item">
          <a class="nav-link" href="/petdata">Add Data</a>
        </li>
      <%}%>
      <% if (user.role == "admin") {%>
        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>
      <%}%>
      <% if(user) {  %>
          <form id="logout" action="/logout" method="POST">
          <a class="nav-link active" aria-current="page" onclick="document.getElementById('logout').submit() " href="/login">Sign out </a>
        </form>
          <% } else { %>  <a class="nav-link active" aria-current="page" href="/login" >Sign In </a><% } %>
      </form>
    </ul>
  </div>
</nav>
<section class="introduction" style="height: 70vh;">
  <img src="/img/avatar.jpg" style="height: 100px; align-items: center; border-radius: 50%; width: 100px; margin-left: 45%;"/>
  <div class="starcontainer" style="padding-top: 20px">
    <h2>About me</h2>
    <i class="fa fa-star fa-2x"></i>
    <hr class="star"></hr>
  </div>
    <p>I am a Front End developer who believes in making the internet a better place.I also do competitive programming. I am a student of Ymca Collage. </p>

    <p>It is my passion to conceptualize, develop, and deploy ideas to this great environment we call the internet. </p>
    <div class="links">
      <a href="/" >Home</a>
      <a href="/contact" >Contact Us</a>
    </div>
</section>
  <!-- Site footer -->
  <footer class="site-footer" >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Pet Care is Website to Provide the Communication between the Clients and The employers to make the Ease of the pet Care . So that owners have no tensions for their lovely pets</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <!-- <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul> -->
        </div>

        <!-- <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div> -->
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Sourav Khan</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>