<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" style="margin-top: 0px">
  <a class="navbar-brand" href="/">PetCare</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/petdata">Add Data</a>
    </li>
    <% if (user.role == "admin") {%>
    <li class="nav-item">
      <a class="nav-link" href="/history">History</a>
    </li>
    <%}%>
        <% if(user) {  %>
    <form id="logout" action="/logout" method="POST">
      <a class="nav-link active" aria-current="page" onclick="document.getElementById('logout').submit() " href="/login">Sign out </a>
    </form>
    <% } else { %> <a class="nav-link active" aria-current="page" href="/login">Sign In </a><% } %>
    </form>
  </ul>
  </div>
</nav>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% petdata.forEach((all)=>{%>
      <% if (user.role == "admin") {%>
      <% if (all.isaccepted){%>
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://localhost:3000/uploads/<%= all.ImageName %>" />
          <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
            <p class="card-text">
              <%= all.petinfo %>
            </p>
          </div>
        </div>
      </div>
      <%}%>
      <%} else {%>
      <div class="col">
        <div class="card shadow-sm">
          <img src="http://localhost:3000/uploads/<%= all.ImageName %>" />
          <div class="card-body" style="display: flex; flex-direction: row; justify-content: space-around;">
            <p class="card-text">
              <%= all.petinfo %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <%}%>
  <%})%>
    </div>
  </div>
</div>